.trade-confirmed{
    width: 100%;
}

.trade-confirmed button{
    margin-top: 10px;
    width: 100%;
}

/*MOBILE STYLES*/

#inventory-search-form{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.inventory-search-results{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

#inventory-search-form div{
    width: 75px;
    font-size: 12px;
}

.inventory-search-results > .row{
    display: flex;
    flex-wrap: wrap;
}

.inventory-search-results > .row > .column{
    flex: 45%;
    padding: 5px;
}

#inventory-search-form label[for*="item"]{
    display:inline-block;
    width: 100%;
    text-align: center;
}

#item-category, #item-color, #item-rarity, #item-attribute{
    width: 72px;
}

.item-card{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 1px 2px 4px rgba(0,0,0,.3);
    background-color: white;
}

.item-card h3{
    padding: 5px;
    font-size: 14px;
}

.item-card-info{
    margin: 2px 0;
    padding: 2px 0;
    font-weight: bold;
}

.item-card p{
    font-size: 12px;
}

.itemBtnContainer, .removeItemBtn{
    width: 100%;
    margin-top: auto;
    font-size: 12px;
}

.removeItemBtn{
    box-shadow: 1px 2px 3px rgba(0,0,0,.2);
}

.removeItemBtn:hover{
    box-shadow: 1px 2px 3px rgba(25, 3, 151, 0.653);
}

/*DESkTOP STYLES*/

@media only screen and (min-width: 480px){
    .item-card{
        max-width: 275px;
        margin: 10px auto;
    }
}


@media only screen and (min-width: 500px){
    .inventory-search-results > .row{
        width: 525px;
    }

    .inventory-search-results{
        max-width: 960px;
        margin: 0 auto;
    }

    #inventory-search-form{
        margin: 0 auto;
        grid-column: span 2;
        justify-content: space-evenly;
    }

    #inventory-search-form div{
        width: 75px;
        font-size: .9em;
        margin: 0 5px;
    }

    #item-category, #item-color, #item-rarity, #item-attribute{
        width: 100%;
    }

    .card-attribute{
        display: flex;
    }

    .card-attribute .column:nth-child(odd){
        flex: 1;
    }
    
} 

@media only screen and (min-width: 700px){

}