.logout-page{
    width: 75%;
    height: 60px;
    line-height: 45px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #02010A;
    padding: 5px;
    border-radius: 8px;
    background-color: #FAA41A;
    color: #02010A;
    box-shadow: 3px 2px 2px rgba(2,1,10,.6);
    font-weight: bold;
    margin-top: 20px;
}

@media only screen and (min-width: 500px) {
    .logout-page{
        width: 50%;
    }
}