header h1{
    font-size: 20px;
    text-align: center;
    padding: 5px;
    font-family: 'Rammetto One', cursive;
    letter-spacing: 1px;
    color: #79A5A9;
}

header{
    width: 100%;
    background-color: #000B28;
    padding: 2px;
    padding-top: 30px;
}

.main-header, .main-header:link, .main-header:visited{
    text-decoration: none;
    color: black;
}

.main-header:hover{
    text-shadow: 4px 6px 2px rgba(0, 0, 0, 1);
}


@media only screen and (min-width: 500px){
    header h1{
        width:100%;
        font-size: 1.8em;
    }
}