*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  max-width: 960px;
  margin: 0 auto;
  background-image: url('imgs/rl-dbg-img.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  background-color: #f0f0f0;
  background-position: center center;
}

.App{
  max-width: 960px;
  margin: 0 auto;
  background-color: #f0f0f0;
  min-height: 100vh;
  box-shadow: 6px 0px 10px black;
}

button{
  border: 1px solid #052F5F;
  margin-top: 10px;
  padding: 5px;
  background-color: #FAA41A;
  color: #02010A;
  font-weight: bold;
}

button:hover{
  background-color: #052F5F;
  color: white;
}

.error-message{
  font-size: .7em;
  margin-bottom: 15px;
  color: #f1f227;
  font-weight: bold;
  padding: 10px;
}

.info{
  margin-bottom: 20px;
  padding: 5px;
  font-size: .7em;
  border-radius: 8px;
  color: white;
  line-height: 20px;
}

.info-password{
  margin-top: 22px;
  margin-bottom: 10px;
}

.form-checkboxes > label{
  display: inline-block;
  width: 100%;
  text-align: center;
}

.form-checkboxes{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

h2, h3 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  background-color: #000B28;
  padding: 2px;
  color: white;
}

@media only screen and (min-width: 500px){
  body{
    background-image: url('imgs/rl-mbg-img.jpg');
  }

  button{
    font-size: 16px;
  }
}